*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(139, 23, 46);
    min-height: 100vh;
}
.container{
    width: 600px;
    min-height:200px;
    margin:70px auto;
    background-color: #fff;
    border-radius: 10px;
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
}

.inform{
    width: 600px;
    min-height: 200px;
    background-color: #ccc;
    margin: auto;
    border-radius: 10px;
    text-align: center;
}
.inform p{
    padding-top: 5px;
    font-size: 1.3rem;
}
ol{
    list-style-type: none;
}
li{
    font-size: 1.2rem;
    padding: 5px;
}

@media screen and (max-width: 995px){
    .container, .inform{
        width: 95%;
    }
}